nav.navbar.navbar-inverse {
    margin-bottom: 0em;
}

.row {
    margin-top: 0em;
}

.title-contraption {
    margin-top: 4%;
    text-align: center;
    font-size: 250%;
    font-family: -webkit-body;
    text-decoration: underline;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  .cust-image{
      padding : 10px;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.footer-con {
    margin-top: 4em;
    margin-bottom: 2em;
}